{% extends 'manager_base.html' %}
{% block title %}add_family{% endblock %}
{% block link %}
<link rel="stylesheet"href="../../static/css/manager_body.css">
{% endblock %}

{% block body %}

{#<p id="one"class="s">存放时间的地方</p>#}
{#<p id="two"class="s">存放年份的地方</p>#}
{#<script>#}
{#	var mydate = new Date();#}
{#	var one = document.getElementById("one");#}
{#	var two= document.getElementById("two");#}
{#	one.innerHTML=mydate.toLocaleTimeString();#}
{#	two.innerHTML=mydate.toLocaleDateString();#}
{#</script>#}


{% endblock %}