<div style="background: #a5daeb;
    border: 1px solid #000;
    width: 500px;
    height: 300px;
    position: relative;
    left: 373px;">

    <input type="text"value="邹丽云"style="        width: 500px;
    height: 59px;
    position: relative;
    right: 1px;
    top: -1px;
    text-align: center;
    font-size: 24px;
    background: greenyellow"><br><br>
            <p>2019-05-15 14:25</p>

    <input type="text"value="{{ information }}" onkeydown="this.onkeyup();" onkeyup="this.size=(this.value.length>4?this.value.length:4);" size="4"style="    border-radius: 3px;
    position: relative;
    right: 178px;
    top: 6px;
    font-size: 23px;"><br><br>
    </div>
    <input type="text"name="response_information"style="    width: 500px;
    position: relative;
    right: 4px;
    height: 57px;
    background: #e4fad4;"><br><br>