{% extends 'resident_base.html' %}
{% block title %}add_family{% endblock %}
{% block link %}

{% endblock %}

{% block body %}
{#    <h2>在线咨询消息</h2><br>#}
{#<div class="container">#}
{#	<div class="row clearfix">#}
	 <div class="container-fluid clear-float" style="padding-right: 1000px; padding-top: -20px;">
<h1 style="line-height: 2em"></h1><br/>
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="panel panel-primary" style="width: 1300px;height: 600px;">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>咨询消息汇总</strong></h3>
        </div>
        <div class="panel-body">
    <div class="col-md-12 column gundong1" style="width: 1200px;height: 600px">
			<table class="table table-bordered1 table-hover" style="word-break: keep-all">
                <tr class="info">
                    <td>发送者</td>
                    <td>发送时间</td>
                    <td>操作</td>
                </tr>
            {% for result in results %}
            <tr>
                    <td>{{ result.message_send }}</td>
                    <td>{{ result.send_time }}</td>
                <td>
                    {% if result.resident_IsRead == "已读" %}
                        <button class="btn btn-default" style="background-color:darkgray;"><a href="/resident_receive_message?message_id={{ result.id}}"><i class="glyphicon glyphicon-ok-sign"></i> {{ result.resident_IsRead }}</a></button>
                    {% elif result.resident_IsRead == "未读" %}
                        <button class="btn btn-default" style="background-color:darkorange;"><a href="/resident_receive_message?message_id={{ result.id}}"><i class="glyphicon glyphicon-info-sign"></i> {{ result.resident_IsRead }}</a></button>
                    {% endif %}
                    <button class="btn btn-danger"><a href="/resident_delete_message?message_id={{ result.id}}" onclick="return confirm('请问确定要删除此条消息吗？')"><i class="fa fa-trash"></i>删除</a></button>
                </td>
            </tr>
                {% empty %}
                <tr><strong>您暂未收到任何消息</strong></tr>
            {% endfor %}
        </table>
           </div>
	</div>
</div>
{% endblock %}