<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
{% extends 'resident_base.html' %}
{% block title %}add_family{% endblock %}
{% block link %}

{% endblock %}
{% block body %}
{#    <style>#}
{#    #container {#}
{#  min-width: 310px;#}
{#  max-width: 800px;#}
{#  height: 400px;#}
{#  margin: 0 auto#}
{#}#}
{#    </style>#}
{#    <script type="text/javascript">#}
{#    var chart = new Highcharts.Chart('container', {#}
{#    title: {#}
{#        text: '不同城市的月平均气温',#}
{#        x: -20#}
{#    },#}
{#    subtitle: {#}
{#        text: '数据来源: WorldClimate.com',#}
{#        x: -20#}
{#    },#}
{#    xAxis: {#}
{#        categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']#}
{#    },#}
{#    yAxis: {#}
{#        title: {#}
{#            text: '温度 (°C)'#}
{#        },#}
{#        plotLines: [{#}
{#            value: 0,#}
{#            width: 1,#}
{#            color: '#808080'#}
{#        }]#}
{#    },#}
{#    tooltip: {#}
{#        valueSuffix: '°C'#}
{#    },#}
{#    legend: {#}
{#        layout: 'vertical',#}
{#        align: 'right',#}
{#        verticalAlign: 'middle',#}
{#        borderWidth: 0#}
{#    },#}
{#    series: [{#}
{#        name: '东京',#}
{#        data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]#}
{#    }, {#}
{#        name: '纽约',#}
{#        data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]#}
{#    }, {#}
{#        name: '柏林',#}
{#        data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]#}
{#    }, {#}
{#        name: '伦敦',#}
{#        data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]#}
{#    }]#}
{#});#}
{##}
{#    </script>#}
    <div class="container-fluid clear-float" style="padding-right: 1000px; padding-top: -20px;">
<h1 style="line-height: 2em"></h1><br/>
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="panel panel-primary" style="width: 1300px;height: 600px;">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>{{ name }}的健康报表</strong></h3>
        </div>
        <div class="panel-body">
{#         <h2><strong>{{ name }}</strong>的健康报表</h2><br>#}
		<div class="col-md-12 column gundong1" style="width: 1250px;height: 600px">
			<table class="table table-bordered1 table-hover" style="word-break: keep-all;color:black;">
                <tr class="info">
                    <td>身高</td>
                    <td>体重</td>
                    <td>BMI值</td>
                    <td>状态</td>
                    <td>测试时间</td>
                    <td>操作</td>
                </tr>
            {% for result in results %}
            <tr>
                    <td>{{ result.report_height }}</td>
                    <td>{{ result.report_weight }}</td>
                    <td>{{ result.result_num }}</td>
                    <td>{{ result.result_condition }}</td>
                    <td>{{ result.report_time }}</td>
                <td><button class="btn btn-danger" onclick="return confirm('请问是否确认删除您的健康档案？')"><i class="fa fa-trash"></i><a href="/delete_report?report_id={{ result.id}}">删除</a></button></td>
            </tr>
                 {% empty %}
                <tr><strong>您还未记录您的健康生活，请记得及时添加</strong></tr>
            {% endfor %}
        </table>
           </div>
{#            <div id="container"></div>#}
{#            <div class="container"></div>#}
{#        <script type="text/javascript">#}
{#$(document).ready(function() {#}
{#   var title = {#}
{#       text: '{{ name }}的健康报告'#}
{#   };#}
{#   var subtitle = {#}
{#        text: 'Source: runoob.com'#}
{#   };#}
{#   var xAxis = {#}
{#    {{ result.report_time }}#}
{#   };#}
{#   var yAxis = {#}
{#      title: {#}
{#         text: 'Temperature (\xB0C)'#}
{#      },#}
{#      plotLines: [{#}
{#         value: 0,#}
{#         width: 1,#}
{#         color: '#808080'#}
{#      }]#}
{#   };#}
{##}
{#   var tooltip = {#}
{#      valueSuffix: '\xB0C'#}
{#   }#}
{##}
{#   var legend = {#}
{#      layout: 'vertical',#}
{#      align: 'right',#}
{#      verticalAlign: 'middle',#}
{#      borderWidth: 0#}
{#   };#}
{##}
{#   var series =  [#}
{#      {#}
{#         name: '身高',#}
{#         data: {{ result.report_height }}#}
{#      },#}
{#      {#}
{#         name: '体重',#}
{#         data: {{ result.report_weight }}#}
{#      },#}
{#      {#}
{#         name: 'BMI值',#}
{#         data: {{ result.result_num }}#}
{#      },#}
{#   ];#}
{##}
{#   var json = {};#}
{##}
{#   json.title = title;#}
{#   json.subtitle = subtitle;#}
{#   json.xAxis = xAxis;#}
{#   json.yAxis = yAxis;#}
{#   json.tooltip = tooltip;#}
{#   json.legend = legend;#}
{#   json.series = series;#}
{##}
{#   $('#container').highcharts(json);#}
{#});#}
{#</script>#}

	</div>
</div>
        </div>
    </div>
</div>
    </div>

{% endblock %}