<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
 <title>{% block title %}{% endblock %}</title>
</head>
{% block link %}
{% endblock %}
<link rel="stylesheet"href="../../static/css/bootstrap.min.css">
<link rel="stylesheet"href="../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/css/index.css" />
<link rel="stylesheet"href="../../static/css/c.css">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<style>
     {% block style %}{% endblock %}
     table{
         margin:0 auto;
     }
.bg_container{
    width: 1254px;
    height: 780px;
    position: relative;
    top: 54px;
    left: 221px;
    color: black;
}
.bg_info{
    text-align: center;
    position: relative;
    top:10px;
}
.table-hover > tbody > tr:hover {
    background-color:lightblue;
}
.a{
        background-color:Transparent;
        border-color:Transparent;
        border-style:None
}
.b{
        background-color:Transparent;
        border-color:Transparent;
        border-style:None;
        font-size: 30px;
}
.navbar-default1{
    background-color: #2578ff;
    border-color: #4cae4c;
}
    .c{
        margin-top: 5px;
        margin-right: 10px;
    }
    .d{
        margin-top: 5px;
        margin-right: 20px;
    }
    .e{
        float: left;
        margin-left: 80px;
        font-size: 30px;
    }
    body{
        background-color: skyblue;
    }
    .search {
  float: left;
  display: inline;
  width: 568px;
  height: 28px;
  border: 0px solid #ccc;//设置边框
  background-color: #f2f2f5;
  margin: 10px 0;
}
.search_input {
  width: 520px;
  float: left;
  display: inline;
  height: 28px;
  line-height: 28px \9;
  padding: 0 8px;
  behavior: url(#default#savehistory);
    color: #000;
}
.search_btn {
  width: 28px;
  height: 28px;
  background:  left center no-repeat ;
  float: right;
  display: inline;
  margin-right: 10px;
}

</style>
<script type="text/javascript">
    function clicksm(){
        a={{ status }}
        if (a==1){
           alert('已发送签约请求，请耐心等待！');
        }else if(a==0){
            alert('您已经完成签约，请勿重复操作！');
        }

    }
</script>
<body>
{% csrf_token %}
<form>
  {% csrf_token %}
<div class="container">
	<div class="row clearfix">
		<div class=" column"style="width:1322px;position: absolute;left: 260px;">
			<nav class="navbar navbar-default1 navbar-inverse" role="navigation">
                <div>
                    <p class="e">居民个人健康管理系统</p>
                </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							 <div class="btn-group"style="position: relative;right: 9px;">
				            <button class="btn btn-success dropdown-toggle c"data-toggle="dropdown">个人中心
                                <span class="caret "></span>
                            </button>
							<ul class="dropdown-menu">
								<li>
									 <a href="/personal_info?">个人信息</a>
								</li>
                                <li>
                                    <a href="/alter_password?">修改密码</a>
								</li>
								<li>
                                    <a href="/back1?">切换账号</a>
								</li>
								<li class="divider">
								</li>
							</ul>
                             </div>
                        </li>
                        <li>
                            <input type="submit"style="position: relative;right: 5px;"value="退出"class=" btn btn-success d"formaction="/back1/"formmethod="get">
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
<div class="s-side">
	<ul>
		<li class="s-firstItem first">
			<a href="#">
				<i class="fa fa-home"></i>
				<input type="submit"value="首页"class="b"formaction="/home_page/"formmethod="get"style="color: #FFFFFF">
			</a>
		</li>
		<li class="first">
			<div class="d-firstNav s-firstNav clearfix">
				<i class="fa fa-bars"></i>
				<span>个人健康档案</span>
				<i class="fa fa-caret-right fr "></i>
			</div>
			<ul class="d-firstDrop s-firstDrop">
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
						<input type="submit"value="个人信息录入"class="a"formmethod="get"formaction="/personal_info/">
						<i class="fa fa-caret-right fr"></i>
					</div>
				</li>
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
                        <input type="submit"value="BMI指数计算"class="a"formmethod="get"formaction="/calculate_BMI/">
						<i class="fa fa-caret-right fr "></i>
					</div>
                </li>
                <li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
                        <input type="submit"value="健康指数报告"class="a"formmethod="get"formaction="/health_reports/">
						<i class="fa fa-caret-right fr "></i>
					</div>
                </li>
			</ul>
        <li class="first">
			<div class="d-firstNav s-firstNav clearfix">
				<i class="fa fa-bars"></i>
				<span>家庭成员管理</span>
				<i class="fa fa-caret-right fr "></i>
			</div>
			<ul class="d-firstDrop s-firstDrop">
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
						<input type="submit"value="增添家庭成员"class="a"formmethod="get"formaction="/add_family/">
						<i class="fa fa-caret-right fr"></i>
					</div>
				</li>
                <li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
						<input type="submit"value="查看家庭成员信息"class="a"formmethod="get"formaction="/search_family/">
						<i class="fa fa-caret-right fr"></i>
					</div>
				</li>
            </ul>
		</li>
        <li class="first">
			<div class="d-firstNav s-firstNav clearfix">
				<i class="fa fa-bars"></i>
				<span>家庭医生管理</span>
				<i class="fa fa-caret-right fr "></i>
			</div>
			<ul class="d-firstDrop s-firstDrop">
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
                        <input type="submit"value="查找家庭医生"class="a"formmethod="post"formaction="/search_doctor/">
						<i class="fa fa-caret-right fr"></i>
					</div>
				</li>
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
                        <input type="submit"value="查看已签约医生"class="a"formmethod="get"formaction="/appoint_doctor/">
						<i class="fa fa-caret-right fr "></i>
					</div>
			</ul>
		</li>
        <li class="first">
			<div class="d-firstNav s-firstNav clearfix">
				<i class="fa fa-bars"></i>
				<span>消息中心</span>
				<i class="fa fa-caret-right fr "></i>
			</div>
			<ul class="d-firstDrop s-firstDrop">
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
                        <input type="submit"value="签约消息"class="a"formmethod="get"formaction="/new_message/">
						<i class="fa fa-caret-right fr"></i>
					</div>
				</li>
                <li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
                        <input type="submit"value="在线咨询消息"class="a"formmethod="post"formaction="/new_message/">
						<i class="fa fa-caret-right fr"></i>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="container theme-showcase" style="padding-right: 1000px; padding-top: 40px;">
    <h1 style="line-height: 2em"></h1><br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="panel panel-primary" style="width: 1300px;" >
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>家庭医生查询</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>注意！</strong>请根据医生相应的姓名或者科室进行查询
                    </div>
                <div class="col-md-6">
                    <form role="form" name="form1" style="float: left">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="doctor_name" style="color: black;">请输入医生的姓名</label>
                            <div class="search">
{#                                <form>#}
                                <input type="text" name="doctor_name"value="{{ doctor_name }}" placeholder="请输入医生姓名" class="search_input"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" formaction="/search_d/" formmethod="get" style="width: 48px;height: 28px;">查询</button>
                                </span>

{#                                </form>#}
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form role="form" name="form2" style="float: right;">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="doctor_dept" style="color: black;">请输入医生的科室</label>
                            <div class="search">
                                <input type="text" name="doctor_dept"value="{{ doctor_dept }}" placeholder="请输入医生科室" class="search_input" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" formaction="/search_d/" formmethod="post" style="width: 48px;height: 28px;">查询</button>
                                </span>
                        </div>
                        </div>
                    </form>
                </div>
		<div class="col-md-12 column gundong1"style="width: 1300px;display: inline;color: black;padding-top: 10px">
			<table class="table table-bordered1 table-hover" style="word-break: keep-all">
            <thead>
                <tr class="label-primary" style="visibility: visible">
                    <td>姓名</td>
                    <td>性别</td>
                    <td>年龄</td>
                    <td>工作经验</td>
                    <td>等级</td>
                    <td>科室</td>
                    <td>所属医院</td>
                    <td>电话</td>
                    <td>操作</td>
                </tr></thead>
            {% for result in results %}
                <tbody>
            <tr>
                    <td>{{ result.doctor_name }}</td>
                    <td>{{ result.doctor_sex }}</td>
                    <td>{{ result.doctor_age }}</td>
                    <td>{{ result.doctor_work_time }}</td>
                    <td>{{ result.doctor_level }}</td>
                    <td>{{ result.doctor_dept }}</td>
                    <td>{{ result.doctor_hospital }}</td>
                    <td>{{ result.doctor_telephone }}</td>
                <td>
                    {% if resident_condition == "已签约" and result.doctor_telephone == doctor_telephone %}
                        <button class="btn btn-info"  ><a id="modal-170519" href="#modal-container-170519" role="button" data-toggle="modal" style="color: white"><i class="glyphicon glyphicon-time"></i> 预约时间</a></button>
                        <button class="btn btn-info" style="background-color: forestgreen;width: 90px" disabled="disabled"><a href="/search_doctor?doctor_id={{ result.id}}"onclick="clicksm()" style="color: white" disabled="disabled"><i class="glyphicon glyphicon-pushpin"></i> 签约</a></button>
                    {% elif resident_condition == "已签约" %}
                        <button class="btn btn-info" disabled="disabled" ><a id="modal-170519" href="#modal-container-170519" role="button" data-toggle="modal" style="color: white" disabled="disabled"><i class="glyphicon glyphicon-time"></i> 预约时间</a></button>
                        <button class="btn btn-info" style="background-color: forestgreen;width: 90px" disabled="disabled"><a href="/search_doctor?doctor_id={{ result.id}}"onclick="clicksm()" style="color: white" disabled="disabled"><i class="glyphicon glyphicon-pushpin"></i> 签约</a></button>
                    {% else %}
                    <button class="btn btn-info" disabled="disabled"><a id="modal-170519" href="#modal-container-170519" role="button" data-toggle="modal" style="color: white" disabled="disabled"><i class="glyphicon glyphicon-time"></i> 预约时间</a></button>
                        <button class="btn btn-info" style="background-color: forestgreen;width: 90px" ><a href="/search_doctor?doctor_id={{ result.id}}"onclick="clicksm()" style="color: white"><i class="glyphicon glyphicon-pushpin"></i> 签约</a></button>
                    {% endif  %}
                </td>
            </tr>
                                {% empty %}
                <tr><strong>搜索无结果</strong></tr>
                </tbody>
            {% endfor %}
        </table>
           </div>
	</div>
</div>
                </div>
                </div>
            </div>
{#<div class="bg_container">#}
{#<div class="bg_info">#}
{#  按姓名查找：#}
{#<input type="text" name="doctor_name"value="{{ doctor_name }}"class="input-lg" >#}
{#<input type="submit" value="查找"class="nput-group-addon btn btn-primary btn-lg"formaction="/search_d/"formmethod="get">#}
{#<br><br>#}
{#    按科室查找：#}
{#<input type="text" name="doctor_dept"value="{{ doctor_dept }}"class="input-lg" >#}
{#<input type="submit" value="查找"class="nput-group-addon btn btn-primary btn-lg"formaction="/search_d/"formmethod="post">#}
{#<br><br>#}
{#<h2>家庭医生</h2><br>#}
{#    <div class="table-responsive">#}
{#        <table style="word-break:keep-all;width: 1300px;float: right;display: inline " class="table">#}
{#            <tr class="label-primary">#}
{#                <th scope="col"><span style="color: #FFFFFF">姓名</span> </th>#}
{#                <th scope="col"><span style="color: #FFFFFF">性别</span> </th>#}
{#                <th scope="col"><span style="color: #FFFFFF">年龄</span> </th>#}
{#                <th scope="col"><span style="color: #FFFFFF">工作经验</span> </th>#}
{#                <th scope="col"><span style="color: #FFFFFF">等级</span> </th>#}
{#                <th scope="col"><span style="color: #FFFFFF">科室</span> </th>#}
{#                <th scope="col"><span style="color: #FFFFFF">所属医院</span> </th>#}
{#                <th scope="col"><span style="color: #FFFFFF">电话</span> </th>#}
{#                <th scope="col"><span style="color: #FFFFFF">操作</span> </th>#}
{#            </tr>#}
{#            {% for result in results %}#}
{#            <tr>#}
{#                    <td>{{ result.doctor_name }}</td>#}
{#                    <td>{{ result.doctor_sex }}</td>#}
{#                    <td>{{ result.doctor_age }}</td>#}
{#                    <td>{{ result.doctor_work_time }}</td>#}
{#                    <td>{{ result.doctor_level }}</td>#}
{#                    <td>{{ result.doctor_dept }}</td>#}
{#                    <td>{{ result.doctor_hospital }}</td>#}
{#                    <td>{{ result.doctor_telephone }}</td>#}
{#                <td><button class="btn btn-info" ><a id="modal-170519" href="#modal-container-170519" role="button" data-toggle="modal">预约时间</a></button>#}
{#                <button class="btn btn-info" style="background-color: forestgreen;width: 90px"><a href="/search_doctor?doctor_id={{ result.id}}"onclick="clicksm()">签约</a></button> </td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#    </div>#}

{#<div class="container">#}
{#	<div class="row clearfix">#}
{#		<div class="col-md-12 column gundong1"style="width: 1300px">#}
{#			<table class="table table-bordered1 table-hover" style="word-break: keep-all">#}
{#                <tr class="info">#}
{#                    <td>姓名</td>#}
{#                    <td>性别</td>#}
{#                    <td>年龄</td>#}
{#                    <td>工作经验</td>#}
{#                    <td>等级</td>#}
{#                    <td>科室</td>#}
{#                    <td>所属医院</td>#}
{#                    <td>电话</td>#}
{#                    <td>操作</td>#}
{#                </tr>#}
{#            {% for result in results %}#}
{#            <tr>#}
{#                    <td>{{ result.doctor_name }}</td>#}
{#                    <td>{{ result.doctor_sex }}</td>#}
{#                    <td>{{ result.doctor_age }}</td>#}
{#                    <td>{{ result.doctor_work_time }}</td>#}
{#                    <td>{{ result.doctor_level }}</td>#}
{#                    <td>{{ result.doctor_dept }}</td>#}
{#                    <td>{{ result.doctor_hospital }}</td>#}
{#                    <td>{{ result.doctor_telephone }}</td>#}
{#                <td><button class="btn btn-info" ><a id="modal-170519" href="#modal-container-170519" role="button" data-toggle="modal">预约时间</a></button>#}
{#                <button class="btn btn-info" style="background-color: forestgreen;width: 90px"><a href="/search_doctor?doctor_id={{ result.id}}"onclick="clicksm()">签约</a></button> </td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#           </div>#}
{#	</div>#}
{#</div>#}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="modal fade" id="modal-container-170519" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel" style="color:black;">
                                请输入预约时间：
							</h4>
						</div>
						<div class="modal-body">
                            <input type="text"name="resident_appoint_time" placeholder="请输入预约时间" value="{{ resident_appoint_time }}" class="form-control">
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-success" formaction="/appoint_doctor/"formmethod="post">确认</button>
{#                            <button type="submit" class="btn btn-success" formmethod="post" formaction="/appoint_doctor/">确认</button>#}
                        </div>

		</div>
	</div>
</div>

</div>
</div>
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/index.js" ></script>
<script src="../../static/js/bootstrap.min.js"></script>
</form>
</body>
</html>
